$primary: #76b2d7;
$secundary: #2D194D;
$white: #f8f8f2;
$purple: #6E00EA;
$red: #ff5555;
$yellow: #f1fa8c;
$green: #50fa7b;
$dark-200: #0e0914;
$dark: #0F071C;

:root{
    --title-font: 6rem;
    --h1-font: 4rem;
    --h2-font: 3.8rem;
    --h3-font: 3.3rem;
    --h4-font: 3rem;
    --p-font: 2rem;
}