#home{
    .grid-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .box{
            min-width: 350px;
            text-align: center;
            margin-bottom: 40px;

            img{
                width: 130px;
                object-fit: auto;
            }
        }
    }
}