#teams{
    .tableHead{
        padding: 80px;
        background: linear-gradient(95deg, #361e4d, #430f5e, #6226a7);

        h3{
            font-size: var(--title-font);
            font-weight: 700;
            text-align: center;
            margin: 0px 10px;
        }
    }

    .teamSection{
        padding: 100px 0 50px;

        .team-grid{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;
        }

        .card-team{
            width: 350px;
            height: 400px;
            padding: 3rem;
            border: 1px solid $primary;
            border-radius: 1.6rem;

            .inputImg{
                img{
                    width: 120px;
                    object-fit: auto;
                    border: 1px solid $primary;
                    border-radius: 50%;
                }
            }

            .card-info{
                margin: 3rem 0rem 5rem;

                .teamInfo{
                    font-size: var(--p-font);
                    font-weight: 600;
                    line-height: 1.8;
                }
            }
        }
    }
}