#teams{
    .tableHead{
        padding: 80px;
        background: linear-gradient(95deg, #361e4d, #430f5e, #6226a7);

        h3{
            font-size: var(--title-font);
            font-weight: 700;
            text-align: center;
            margin: 0px 10px;
        }
    }

    .teamSection{
        padding-top: 120px;
        .team-grid{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card-team{
            width: 350px;
            height: 400px;
        }
    }
}