.tournament{
    .gridInfo{
        .boxCampInfo{
            width: 20rem;
            height: 12rem;
            padding: 1rem;
            background: $purple;
            border: 1px solid $primary;
            border-radius: 10px;

            h3{
                font-size: var(--p-font);
                font-weight: 700;
            }
            .c1{
                color: $green;
            }
            .c2{
                color: $secundary;
            }
            .c3{
                color: $yellow;
            }
            .c4{
                color: $red;
            }
            .c5{
                color: $orange;
            }
        }
    }
    
    .campCard{        
            width: 30rem;
            height: 30rem;
            padding: 1rem;
            border: 1px solid $primary;
            border-radius: 10px;

        .campName p{
            font-size: var(--p-font);
            margin: 2rem 0 4rem;
        }

        .imgCampCard{
            img{
                width: 100px;
                object-fit: cover;
            }
        } 
    }
}